/* Ensure the main container takes full height */
.logo {
  width: 200px; /* Set the width */
  height: auto; /* Maintain aspect ratio */
}

  
  /* Sidebar container */
  .sidebar {
    position: fixed; /* Fix the sidebar to the left of the screen */
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh; /* Full height of the viewport */
    background-color:  #1E1E1E;
    padding: 20px;
    box-shadow: 0 0 10px #00C8C8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px; /* Space between buttons */
    margin-right: 20px;
    border-top-right-radius: 10px; /* Top-right corner */
  border-bottom-right-radius: 10px;
  }
  
  /* Main content area */
  .main-content {
    padding: 20px;
    overflow-y: auto;
    width: 700px;
    height: 700px;
  }
  
  /* Button styles */
  .sidebar button {
    width: 100%;  
    padding: 10px;
    border: none;
    background-color: #1E1E1E;
    color: #00C8C8;
    text-align: left;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar button:hover {
    background-color: #2D2D2D;
  }
  
  .sidebar button:active {
    background-color: #2D2D2D;
  }
  
  .sidebar h1{
    color : #00C8C8;
    margin-bottom: 0;
  }